<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 进行Mybatis的相应的环境的属性定义 -->
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="autoMappingUnknownColumnBehavior" value="NONE"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 在本项目之中开启二级缓存 -->
		<setting name="cacheEnabled" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="Integer" type="java.lang.Integer"/>
		<typeAlias alias="Long" type="java.lang.Long"/>
		<typeAlias alias="HashMap" type="java.util.HashMap"/>
		<typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap"/>
		<typeAlias alias="ArrayList" type="java.util.ArrayList"/>
		<typeAlias alias="LinkedList" type="java.util.LinkedList"/>
		<typeAlias alias="String" type="java.lang.String"/>
	</typeAliases>
</configuration>
